{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}
    <div class="mt-4 row">
      <div class="col-12">
        <div class="card">
          <!-- Card header -->
          <div class="pb-0 card-header">
            <div class="d-lg-flex">
              <div>
                <h5 class="mb-0">Proveedores</h5>
                <p class="mb-0 text-sm">
                 
                </p>
              </div>
              <div class="my-auto mt-4 ms-auto mt-lg-0">
                <div class="my-auto ms-auto">
                  <a class="me-2 mb-0 btn btn-dark" type="button" href="{% url 'provider-view' %}" onclick="openLoader()">
                    <i class="fas fa-plus me-1"></i>
                    Nuevo proveedor
                  </a>
                  <button type="button" class="me-2 mb-0 btn btn-white" data-bs-toggle="modal" data-bs-target="#import">
                    <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 9.79289C6.68342 9.40237 7.31658 9.40237 7.70711 9.79289L9 11.0858V3.5C9 2.94772 9.44771 2.5 10 2.5C10.5523 2.5 11 2.94771 11 3.5V11.0858L12.2929 9.79289C12.6834 9.40237 13.3166 9.40237 13.7071 9.79289C14.0976 10.1834 14.0976 10.8166 13.7071 11.2071L10.7071 14.2071C10.5196 14.3946 10.2652 14.5 10 14.5C9.73478 14.5 9.48043 14.3946 9.29289 14.2071L6.29289 11.2071C5.90237 10.8166 5.90237 10.1834 6.29289 9.79289Z" fill="#111827" />
                    </svg>Import
                  </button>
                  <button class="mt-1 mb-0 btn btn-white export mt-sm-0" data-type="csv" type="button" name="button">
                    <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 7.20711C5.90237 6.81658 5.90237 6.18342 6.29289 5.79289L9.29289 2.79289C9.48043 2.60536 9.73478 2.5 10 2.5C10.2652 2.5 10.5196 2.60536 10.7071 2.79289L13.7071 5.79289C14.0976 6.18342 14.0976 6.81658 13.7071 7.20711C13.3166 7.59763 12.6834 7.59763 12.2929 7.20711L11 5.91421V13.5C11 14.0523 10.5523 14.5 10 14.5C9.44771 14.5 9 14.0523 9 13.5V5.91421L7.70711 7.20711C7.31658 7.59763 6.68342 7.59763 6.29289 7.20711Z" fill="#111827" />
                    </svg>Export
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="px-0 pb-0 card-body">
            <div class="table-responsive">
              <table class="table table-flush" id="provider-list">
                <thead class="thead-light">
                  <tr>
                    <th class="text-xs">Nombre</th>
                    <th class="text-xs">Identificacion</th>
                    <th class="text-xs">Celular</th>
                    <th class="text-xs">Email</th>
                    <th class="text-xs">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for p in providers %}
                  <tr>
                    <td>
                      <div class="d-flex">
                        <div class="my-auto form-check">
                          <input class="form-check-input" type="checkbox" id="customCheck1">
                        </div>
                        <h6 class="my-auto ms-3">{{p.name}}</h6>
                      </div>
                    </td>
                    <td class="text-sm">{{p.documentI}}</td>
                    <td class="text-sm">{{p.phone}}</td>
                    <td class="text-sm">{{p.email}}</td>
                    <td class="text-sm">
                      <a href="{% url 'provider-view' %}?pk={{p.pk}}&edit=false" data-bs-toggle="tooltip" data-bs-placement="left" title="Ver Proveedor">
                        <i class="fas fa-eye text-dark"></i>
                      </a>
                      <a href="{% url 'provider-view' %}?pk={{p.pk}}&edit=true" class="mx-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar Proveedor">
                        <i class="fas fa-user-edit text-dark"></i>
                      </a>
                      <a href="javascript:;" onclick="activeAlert('{{p.pk}}')" data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar Proveedor">
                        <i class="fas fa-trash text-dark"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th class="text-xs">Nombre</th>
                    <th class="text-xs">Identificacion</th>
                    <th class="text-xs">Celular</th>
                    <th class="text-xs">Email</th>
                    <th class="text-xs">Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--Modals-->

    <div class="modal fade" id="provider" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog mt-lg-10 modal-lg">
        <form action="/create-provider" method="post" id="formId">{% csrf_token %}
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="ModalLabel">Crear Proveedor</h5>
              <i class="fas fa-upload ms-3"></i>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <div class="card h-65 max-height-vh-50">
                <div class="overflow-auto overflow-x-hidden card-body">
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="card-body p-3">
                      <div class="row">
                        <div>
                          <h6>DATOS GENERALES
                            <button class="btn btn-link btn-nav-accordion collapsed" style="cursor: pointer; color: #495057;float: right;" type="button" data-bs-toggle="collapse" data-bs-target="#colapseInfG" aria-expanded="false" aria-controls="colapseInfG">
                              <i class="fas fa-chevron-up"></i>
                            </button>
                          </h6>
                        </div>
                        <div class="accordion-item mb-0">
                          <div id="colapseInfG" class="accordion-collapse collapse" aria-labelledby="infG" data-bs-parent="#accordionRental">
                            <div class="accordion-body text-sm opacity-8">
                              <div class="mt-1 row">
                                <div class="col-12 col-sm-12">
                                  <label>Nombre / Razón social *</label>
                                  <input class="form-control form-control-xl" id="name" name="name" type="text" required placeholder="Gestiona Facil" />
                                </div>
                              </div>
                              <div class="mt-1 row">
                                <div class="col-12 col-sm-4">
                                  <label>RFC *</label>
                                  <input class="form-control form-control-xl" id="identification_number" type="text" name="identification_number" required placeholder="GOVM860812QA2" />
                                </div>
                                <div class="col-12 col-sm-8">
                                  <label>Regimen fiscal</label>
                                  <select class="form-control form-control-xl" name="type_regime_id" required id="type_regime_id">
                                    {% for tr in type_regimen %}
                                      <option value="{{tr.pk}}" selected>{{tr.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                              </div>
                              <div class="mt-1 row">
                                <div class="col-12 col-sm-6">
                                  <label>Codigo postal</label>
                                  <input class="form-control form-control-xl" id="postal_code" name="postal_code" type="text" required placeholder="000000" />
                                </div>
                                <div class="col-12 col-sm-6">
                                  <label>Colonia</label>
                                  <input class="form-control form-control-xl" id="colonia" name="colonia" type="text" required placeholder="" />
                                </div>
                              </div>
                              <div class="mt-1 row">
                                <div class="col-12 col-sm-6">
                                  <label>Calle</label>
                                  <input class="form-control form-control-xl" id="calle" name="calle" type="text" required placeholder="000000" />
                                </div>
                                <div class="col-12 col-sm-3">
                                  <label>Exterior</label>
                                  <input class="form-control form-control-xl" id="exterior" name="exterior" type="text" required placeholder="" />
                                </div>
                                <div class="col-12 col-sm-3">
                                  <label>Interior</label>
                                  <input class="form-control form-control-xl" id="interior" name="interior" type="text" required placeholder="" />
                                </div>
                              </div>
                              <div class="mt-1 row">
                                <div class="col-12 col-sm-4">
                                  <label>Estado</label>
                                  <select class="form-control form-control-xl" name="estate" required id="estate">
                                    {% for e in estados %}
                                      <option value="{{e.pk}}" selected>{{e.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="col-12 col-sm-4">
                                  <label>Municipio/Delegacion</label>
                                  <select class="form-control form-control-xl" name="municipality" required id="municipality">
                                    {% for m in municipality %}
                                      <option value="{{m.pk}}" selected>{{m.name}}</option>
                                    {% endfor %}
                                  </select>
                                </div>
                                <div class="col-12 col-sm-4">
                                  <label>Localidad</label>
                                  <input class="form-control form-control-xl" id="localidad" name="localidad" type="text" required placeholder="" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="card-body p-3">
                      <div class="row">
                        <div>
                          <h6>INFORMACION DE CONTACTO
                            <button class="btn btn-link btn-nav-accordion collapsed" style="cursor: pointer; color: #495057;float: right;" type="button" data-bs-toggle="collapse" data-bs-target="#colapseInfC2" aria-expanded="false" aria-controls="colapseInfC2">
                              <i class="fas fa-chevron-up"></i>
                            </button>
                          </h6>
                        </div>
                        <div id="colapseInfC2" class="collapse" aria-labelledby="infC2" data-bs-parent="#accordionRental">
                          <div class="accordion-body text-sm opacity-8">
                            <div class="mt-1 row">
                              <div class="col-12 col-sm-6">
                                <label>Correo electronico</label>
                                <input class="form-control form-control-xl" id="email" name="email" type="email" required placeholder="gestionafacil@test.com" />
                              </div>
                              <div class="col-12 col-sm-6">
                                <label>Celular</label>
                                <input class="form-control form-control-xl" id="phone" name="phone" type="text" required placeholder="57848938438" />
                              </div>
                            </div>
                            <div class="mt-1 row">
                              <div class="col-12 col-sm-6">
                                <label>Telefono 1</label>
                                <input class="form-control form-control-xl" id="phone1" name="phone1" type="text" required placeholder="000000" />
                              </div>
                              <div class="col-12 col-sm-6">
                                <label>Telefono 2</label>
                                <input class="form-control form-control-xl" id="phone2" name="phone2" type="text" required placeholder="0000000" />
                              </div>
                            </div>
                            <div class="mt-3">
                              <button type="button" class="btn btn-xl btn-success">Asociar persona</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </div>
                  </div>
                  <div class="col-lg-12 col-md-12 col-12">
                    <div class="card-body p-3">
                      <div class="row">
                        <div>
                          <h6>INFORMACION COMERCIALES
                            <button class="btn btn-link btn-nav-accordion collapsed" style="cursor: pointer; color: #495057;float: right;" type="button" data-bs-toggle="collapse" data-bs-target="#colapseInfC" aria-expanded="false" aria-controls="colapseInfC">
                              <i class="fas fa-chevron-up"></i>
                            </button>
                          </h6>
                        </div>
                        <div id="colapseInfC" class="collapse" aria-labelledby="infC" data-bs-parent="#accordionRental">
                          <div class="accordion-body text-sm opacity-8">
                            <div class="mt-1 row">
                              <div class="col-12 col-sm-4">
                                <label>Dias de pagos</label>
                                <select class="form-control form-control-xl" name="municipality" required id="municipality">
                                  {% for m in days %}
                                    <option value="{{m.pk}}" selected>{{m.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <div class="col-12 col-sm-5">
                                <label>CFDI</label>
                                <select class="form-control form-control-xl" name="cfdi" required id="cfdi">
                                  {% for cf in cfdi %}
                                    <option value="{{cf.pk}}" selected>{{cf.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <div class="col-12 col-sm-3">
                                <label>Lista de precio</label>
                                <select class="form-control form-control-xl" name="price_list" required id="price_list">
                                  {% for pl in price_list %}
                                    <option value="{{pl.pk}}" selected>{{pl.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                            <div class="mt-1 row">
                              <div class="col-12 col-sm-6">
                                <label>Metodo de pago</label>
                                <select class="form-control form-control-xl" name="payment_method" required id="payment_method">
                                  {% for pm in payment_method %}
                                    <option value="{{pm.pk}}" selected>{{pm.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                              <div class="col-12 col-sm-6">
                                <label>Forma de pago</label>
                                <select class="form-control form-control-xl" name="payment_form" required id="payment_form">
                                  {% for pf in payment_form %}
                                    <option value="{{pf.pk}}" selected>{{pf.name}}</option>
                                  {% endfor %}
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <input type="hidden" id="id" name="id">
            </div>
            <div class="modal-footer" id="buttons">
              <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Cerrar</button>
              <button type="submit" class="btn btn-dark btn-sm">Guardar</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog mt-lg-10">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
            <i class="fas fa-upload ms-3"></i>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>You can browse your computer for a file.</p>
            <input type="text" placeholder="Browse file..." class="mb-3 form-control">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="importCheck" checked="">
              <label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-dark btn-sm">Upload</button>
          </div>
        </div>
      </div>
    </div>

    {% include 'includes/scripts.html' %}
    <script>
        if (document.getElementById('provider-list')) {
          const dataTableSearch = new simpleDatatables.DataTable("#provider-list", {
            searchable: true,
            fixedHeight: false,
            perPage: 7
          });
    
          document.querySelectorAll(".export").forEach(function(el) {
            el.addEventListener("click", function(e) {
              var type = el.dataset.type;
    
              var data = {
                type: type,
                filename: "soft-ui-" + type,
              };
    
              if (type === "csv") {
                data.columnDelimiter = "|";
              }
    
              dataTableSearch.export(data);
            });
          });
        };
        function showModal(itemId, name, phone, email, documentI, save = true){
          document.getElementById("id").value = itemId;
          document.getElementById("name").value = name;
          document.getElementById("documentI").value = documentI;
          document.getElementById("phone").value = phone;
          document.getElementById("email").value = email;
          $("#formId").attr("action", "/update-provider");
          if (!save){
            removeButton();
          }else{
            removeButton();
            addButton();
          }
        }
        function clearModal(){
          document.getElementById("id").value = "";
          document.getElementById("name").value = "";
          document.getElementById("documentI").value = "";
          document.getElementById("phone").value = "";
          document.getElementById("email").value = "";
          $("#formId").attr("action", "/create-provider");
          removeButton();
          addButton();
        }
        function addButton(){
          $("#buttons").append(
            '<button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Cerrar</button>'+
            '<button type="submit" class="btn btn-dark btn-sm">Guardar</button>'
          )
        }
        function removeButton(){
          $("#buttons").text("");
        }
        function activeAlert(pk_customer){
          showAlert(
            "Eliminar proveedor", 
            "!Esta seguro de eliminar este proveedor!", 
            "{% url 'delete-provider' %}?pk_provider="+pk_customer
          )
        }
      </script>

{% endblock content %}
  
<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}