{% extends 'layouts/base.html' %}
{% block title %} Nueva Cotizacion {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}
{% block content %}

<div class="container-fluid py-0" style="overflow-y:hidden;">
    <div class="row">
      
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-12">
            <div class="">
              <div class="card-body p-0">
                <div class="row">
                  <div class="col-12">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-uppercase font-weight-bold"></p>
                      <div class="mainBar" id="mainBarAdd">
                        
                        <div class="row">
                          <div class="col-6 col-sm-12 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-3 col-sm-4 text-center">
                                            <p class="text-sm">Empresa</p>
                                            <h6>{{company.fields.name}}</h6>
                                        </div>
                                        <div class="col-3 col-sm-4 text-center">
                                            <p class="text-sm">RFC</p>
                                            <h6>{{company.fields.documentI}}</h6>
                                        </div>
                                        <div class="col-3 col-sm-4 text-center">
                                          <p class="text-sm">Email</p>
                                          <h6>{{company.fields.email}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                          <div class="col-lg-6 col-md-6">
                            <div class="col-lg-12 col-md-12"> 
                            <div class="card  mb-4">
                              <div class="card-body p-3">
                                <div class="row">
                                  <h6>Información del cliente</h6>
                                  <div class="multisteps-form__content">
                                    <div class="row">
                                      <label>Cliente</label>
                                      <div class="row">
                                        <div class="form-group col-md-9">
                                          <input type="hidden" value="" id="pk_customer" name="pk_customer">
                                          <input class="form-control form-control-sm" list="list_customer" id="customer" type="text" name="customer" placeholder="Buscar cliente..." {% if invoice.state != "No timbrada" and invoice %}disabled{% endif %}/>
                                          <datalist id="list_customer">
                                              {% for c in clients %}
                                              <option value="{{c.name}}">{{c.name}}</option>
                                              {% endfor %}
                                          </datalist>
                                          <!-- <select class="form-control form-control-sm" name="pk_customer" id="pk_customer" {% if invoice.state != "No timbrada" and invoice %}disabled{% endif %}>
                                            
                                          </select> -->
                                        </div>
                                        <div class="form-group col-md-3 text-end">
                                          <button class="btn btn-sm btn-success" onclick="clearModal()" data-bs-toggle="modal" data-bs-target="#clientAdd">Crear cliente</button>
                                        </div>
                                      </div>
                                    
                                      <div class="row">
                                        <div class="mt-0 col-md-9 text-start">
                                          <h6 id="clientName">
                                            ........
                                          </h6>
                                          <span class="d-block text-secondary text-sm" id="identification">Identificacion: ........</span>
                                          <span class="d-block text-secondary text-sm" id="phone">Celular: ........</span>
                                          <span class="d-block text-secondary text-sm" id="address">Direccion: ........</span>
                                          <span class="d-block text-secondary text-sm" id="email">Email: ........</span>
                                          <span class="d-block text-secondary text-sm" id="regimen">Regimen: ........</span>
                                        </div>
                                        <div class="mt-0 col-md-3 text-end">
                                          <button class="btn btn-sm btn-info" onclick="viewModal()" data-bs-toggle="modal" data-bs-target="#clientAdd">Modificar cliente</button>
                                          {% if invoice %}<button class="btn btn-sm btn-warning" onclick="activeAlertEmail()">Enviar email</button>{% endif %}
                                        </div>
                                      </div>
                                    </div>
    
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                            
                          </div>
                         
                          <div class="col-lg-6 col-md-6">
                            <div class="col-lg-12 col-md-12 col-12">
                                <div class="card  mb-4">
                                    <div class="card-body p-3">
                                      <div class="row text-start">
                                        <h5>Informacion del documento</h5>
                                        <h6>Cotizacion N. {% if invoice %}{{invoice.prefix}} {{invoice.number}}{% else %}{{conse.ct}}{% endif %}</h6>
                                        <div class="mt-2">
                                          <span class="d-block text-secondary text-sm" id="date">Fecha de creacion: {% if invoice %}{{invoice.date}}{% else %}{{date}}{% endif %}</span>
                                          <span class="d-block text-secondary text-sm" id="state">Estado de envio: <span class="badge badge-danger badge-lg">{% if invoice %}{{invoice.state}}{% else %}Borrador{% endif %}</span></span>
                                          <div class="row">
                                            <div class="col-md-12 mt-4">
                                              <div class="row">
                                                <div class="col-md-6">
                                                    <label for="">Metodo de pago</label>
                                                    <select class="form-control form-control-sm" name="payment_method" id="payment_method">
                                                        {% for pm in  payment_method %}
                                                            <option value="{{pm.pk}}" {% if pm.pk == invoice.payment_form.payment_method %}selected{% endif %}>{{pm.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-md-6">
                                                    <label for="">Forma de pago</label>
                                                    <select class="form-control form-control-sm" name="payment_form" id="payment_form">
                                                        {% for pf in  payment_form %}
                                                            <option value="{{pf.pk}}" {% if pf.pk == invoice.payment_form.payment_form %}selected{% endif %}>{{pf.name}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <!-- <div class="multisteps-form__content mt-3">
                                          <div class="row">
                                            <div class="mt-1 col-md-12 text-start">
                                              <h6 id="clientName">
                                                {{company.fields.name}}
                                              </h6>
                                              <span class="d-block text-secondary text-sm" id="">Identificacion: {{company.fields.documentI}}</span>
                                              <span class="d-block text-secondary text-sm" id="">Celular: {{company.fields.phone}}</span>
                                              <span class="d-block text-secondary text-sm" id="">Direccion: {{company.fields.address}}</span>
                                              <span class="d-block text-secondary text-sm" id="">Email: {{company.fields.email}}</span>
                                              <span class="d-block text-secondary text-sm" id="">Regimen: {{company.fields.regimen_data.name}}</span>
                                            </div>
                                          </div>
                                        </div> -->
                                      </div>
                                    </div>
                                  </div>
                            </div>
                          </div>
                        
                        </div>
  
                          <div class="col-lg-12 col-md-12 col-12">
                            <div class="card  mb-4">
                              <div class="card-body p-3">
                                <div class="row">
                                  <h6>Productos</h6>
                                  <div class="col-md-12">
                                    <div class="">
                                      <div class="table-responsive">
                                        <table class="table align-items-center mb-0 table-sm">
                                          <thead>
                                            <tr>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Ref</th>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Nombre</th>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Cantidad</th>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Precio unitario</th>
                                              <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Impuesto</th>
                                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Precio total</th>
                                              <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                                            </tr>
                                          </thead>
                                          <tbody id="addItemProduct">
                                          </tbody>
                                        </table>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-md-8">
                                        <div class="col-md-12">
                                            <button type="button" style="margin:5px" class="btn btn-success btn-sm" onclick="resetCheckButtonsProductList()" data-bs-toggle="modal" data-bs-target="#modal-product">Agregar producto</button>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                      <div class="">
                                        <div class="">
                                          <table class="table align-items-center mb-0">
                                            <thead>
                                              <tr>
                                                <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><i class="ni ni-bag-17"></i> Resumen del pedido</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr>
                                              <td id="addItemcategory">
                                              <div class="row">
                                                <div class="col-lg-6">
                                                  <span class="text-sm" >Sub total: </span>
                                                </div>
                                                <div class="col-lg-6">
                                                  <span class="text-sm" id="addSubTotal">$ 0</span>
                                                </div>        
                                                <div class="col-lg-6">
                                                  <span class="text-sm" >Impuesto:  </span>
                                                </div>
                                                <div class="col-lg-6">
                                                  <span class="text-sm" id="addImpuesto">$ 0</span>
                                                </div>          
                                                <div class="col-lg-6">
                                                  <span class="text-sm">Gran total: </span>
                                                </div>
                                                <div class="col-lg-6">
                                                  <span class="text-sm" id="addGranTotal">$ 0</span>
                                                </div>
                                                <div class="col-lg-6">
                                                  <span class="text-sm" >Pagado: </span>
                                                </div>
                                                <div class="col-lg-6">
                                                  <span class="text-sm" id="addPagado">$ 0</span>
                                                </div>
                                                <div class="col-lg-6">
                                                  <span class="text-sm" >Balance:  </span>
                                                </div>
                                                <div class="col-lg-6">
                                                  <span class="text-sm" id="addBalance">$ 0</span>
                                                </div>   
                                              </div>
                                              </td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-lg-12 col-md-12">
                            <div class="row">
                              <div class="col-lg-6 col-md-6">
                                <div class="card  mb-4">
                                  <div class="card-body p-3">
                                    <div class="row">
                                      <h6>Descripción</h6>
                                      <div class="row">
                                        <div class="form-group">
                                          <textarea class="form-control" name="notas" id="notas" placeholder="Notas" rows="3">{{invoice.note}}</textarea>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-lg-6 col-md-6">
                                <div class="card  mb-4">
                                  <div class="card-body p-3">
                                    <div class="row">
                                      <h6></h6>
                                      <div class="row">
                                        <div class="form-group">
                                          <div class="col-md-12 text-center">{% csrf_token %}
                                            <input type="hidden" id="pk" value="{% if request.GET.pk %}{{request.GET.pk}}{% else %}0{% endif %}">
                                            {% if request.GET.edit == 'true' or not request.GET.edit %}
                                              <button type="button" id="buttonSendAdd" onclick="sendInvoice()" class="btn btn-success btn-sm m-2">Enviar y Guardar</button>
                                            {% endif %}
                                            <input type="hidden" id="invoice" value="{% if invoice.invoice %}{{invoice.invoice}}{% else %}0{% endif %}">
                                            <input type="hidden" id="remission" value="{% if invoice.remission %}{{invoice.remission}}{% else %}0{% endif %}">
                                            {% if invoice %}
                                              {% if invoice.invoice %}
                                                <a href="{% url 'invoice-view' %}?pk={{invoice.invoice}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Factura" class="btn btn-sm btn-info m-2">Ver Factura</a>
                                              {% else %}
                                                <button type="button" id="buttonSendAdd" onclick="sendInvoiceWithCotization()" class="btn btn-info btn-sm m-2">Crear Factura</button>
                                              {% endif %}
                                              {% if invoice.remission %}
                                                <a href="{% url 'remission-view' %}?pk={{invoice.remission}}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver Remision" class="btn btn-sm btn-info m-2">Ver Remision</a>
                                              {% else %}
                                                <button type="button" id="buttonSendAdd" onclick="sendRemissionWithCotization()" class="btn btn-warning btn-sm m-2">Crear Remision</button>
                                              {% endif %}
                                              <a href="javascript:;" onclick="openInvoiceView('{{invoice.pdf}}')" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver PDF" class="btn btn-sm btn-success m-2">Ver PDF</a>
                                            {% endif %}
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row" id="addContainerPayment">
                            
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

  <div class="modal fade" id="viewEmail" data-backdrop="static">
    <div class="modal-dialog mt-lg-12">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabelEmail">Enviar email</h5>
          <i class="fas fa-upload ms-3"></i>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group col-md-12" id="addEmailSend">
              
            </div>
            <div class="form-group col-md-12">
              <input type="email" class="form-control form-control-sm" placeholder="Agrega un email que no este registrado." id="emailSecondary">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" id="buttonSendEmail">Enviar</button>
      </div>
      </div>
    </div>
  </div>
{% include 'app/document/modal-product-list.html' %}
{% include 'app/contact/modal-client-add.html' %}

<script>
    var clients = textToJson('{{clients_text}}');
    var invoiceData = textToJson('{{invoice_text}}');
    modalEmailClick = new bootstrap.Modal(document.getElementById('viewEmail'));
    var stateInvoice = true;
    function sendInvoice(){
      if (stateInvoice){
        stateInvoice = false;
        if (productItem.length > 0){
          if (document.getElementById("pk_customer").value != ""){
            openLoader();
            $.ajax({
                url: '/create-cotization',
                type: 'POST',
                data:{
                    client: document.getElementById("pk_customer").value,
                    pk: document.getElementById("pk").value,
                    products: JSON.stringify(productItem),
                    totalValue: totalValue,
                    payment_form: document.getElementById("payment_form").value,
                    payment_method: document.getElementById("payment_method").value,
                    notas: document.getElementById("notas").value,
                    invoice: document.getElementById("invoice").value,
                    remission: document.getElementById("remission").value
                },
                headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                success: function(json) {
                    invoiceResponse = JSON.parse(json);
                    if (invoiceResponse.code == 200){
                      setTimeout(function(){
                        window.location.href = "{% url 'cotization-view' %}?pk="+invoiceResponse.pk_invoice;
                      },500);
                    }else{
                      closeLoader();
                      stateInvoice = true;
                    }
                    showToastDanger(
                      "Crear cotizacion",
                      invoiceResponse.message
                    );
                },
                error: function(error) {
                  closeLoader();
                    console.log("Ocurrio un error");
                    stateInvoice = true;
                }
            });
          }else{
            showToastDanger(
              "Crear Cotizacion",
              "Debe seleccionar un cliente"
            );
            stateInvoice = true;
          }
        }else{
            showToastDanger(
                "Crear cotizacion",
                "Debe agregar productos a la cotizacion."
            );
            stateInvoice = true;
        }
      }else{
        showToastDanger(
            "Crear cotizacion",
            "Recuerde dar un solo click al enviar"
        );
      }
    }
    $("#customer").change(function(){
      name_customer = $(this).val();
      var clientValue = null;
      clients.map(function (value_customer, index){
        if (name_customer == value_customer.name){
          console.log(value_customer);
          document.getElementById("pk_customer").value = value_customer.pk_customer;
          clientValue = value_customer;
        }
        // if (parseInt(pk_customer) == value.pk_customer){
        //   console.log(value);
        //   clientValue = value;
        // }
      })
      if (clientValue){
        viewClientText(clientValue);
      }else{
        document.getElementById("pk_customer").value = "";
        $("#clientName").text(".......");
        $("#identification").text("Identificacion: ........");
        $("#phone").text("Celular: ........");
        $("#address").text("Direccion: ........");
        $("#email").text("Email: ........");
        $("#regimen").text("Regimen: ........");
      }
    });
    function viewClientSelect(selectOption){
      document.getElementById("pk_customer").value = "";
      clients.map(function (value, index){
        //_select = "";
        if(selectOption == value.identification_number){
          //_select = "selected";
          document.getElementById("pk_customer").value = value.pk_customer;
          document.getElementById("customer").value = value.name;
          viewClientText(value);
        }
        /*$("#pk_customer").append(
          '<option value="'+value.pk_customer+'" '+_select+'>'+value.name+'</option>'
        );*/
      })
    }
    
    function viewClientText(clientValue){
      $("#clientName").text("");
      $("#clientName").append(clientValue.name);
      $("#identification").text("");
      $("#identification").append("Identificacion: "+clientValue.identification_number);
      $("#phone").text("");
      $("#phone").append("Celular: "+clientValue.phone);
      $("#address").text("");
      $("#address").append("Direccion: "+clientValue.address.toString());
      $("#email").text("");
      $("#email").append("Email: "+clientValue.email);
      $("#regimen").text("");
      $("#regimen").append("Regimen: "+clientValue.name_type_regime);
      if (Object.keys(invoiceData).length == 0){
        document.getElementById("payment_method").value = clientValue.commercial_information.payment_method;
        document.getElementById("payment_form").value = clientValue.commercial_information.payment_form;
      }else{
        document.getElementById("payment_method").value = invoiceData.payment_form.payment_method;
        document.getElementById("payment_form").value = invoiceData.payment_form.payment_form;
      }
    }

    function isEmailCorrect(_email) {
      const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
      return regex.test(_email);
    }
    function activeAlertEmail(){
      $("#addEmailSend").text("");
      console.log(invoiceData);
      invoiceData.emails.map(function(value, index){
        $("#addEmailSend").append(
          '<div class="d-flex">'+
              '<div class="my-auto form-check">'+
                  '<input class="form-check-input" type="checkbox" value="" id="'+(value.split("@")[0])+'">'+
              '</div>'+
              '<h6 class="mb-0 text-sm">'+value+'</h6>'+
          '</div>'
        )
      });
      modalEmailClick.show();
    }
    $("#buttonSendEmail").click(function(){
      modalEmailClick.hide();
      runAjaxCallsEmail();
    });
    async function runAjaxCallsEmail(){
      sendEmailActive = false;
      for (i=0; i<invoiceData.emails.length; i++){
        if ($("#"+(invoiceData.emails[i].split("@")[0])).prop("checked")){
          await sendEmail(invoiceData.emails[i]);
          sendEmailActive = true;
        }
      }
      var emailSecondary = document.getElementById("emailSecondary").value;
      if(isEmailCorrect(emailSecondary)){
        console.log(emailSecondary);
        await sendEmail(emailSecondary);
        sendEmailActive = true;
      }else{
        if (emailSecondary != ""){
          showToastDanger(
            "Enviar Email",
            emailSecondary+" - No es un email correcto."
          );
        }
      }
      if (sendEmailActive){
        setTimeout(function(){
          closeLoader();
          window.location.href = "{% url 'cotization-view' %}?pk="+document.getElementById("pk").value;
        },500);
      }else{
        showToastDanger(
          "Enviar Email",
          "No ha seleccionado emails."
        );
      }
    }
    function sendEmail(emailUser){
      openLoader();
      return new Promise((resolve, reject) => {
        $.ajax({
          url: '/invoice-send-email',
          type: 'POST',
          data:{
            pk_invoice: document.getElementById("pk").value,
            email_user: emailUser,
            option: "cotization"
          },
          headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
          success: function(json) {
              invoiceResponse = JSON.parse(json);
              stateInvoice = true;
              showToastDanger(
                "Enviar Email",
                invoiceResponse.message+" a: "+emailUser
              );
              closeLoader();
              resolve(invoiceResponse);
          },
          error: function(error) {
            closeLoader();
            console.log("Ocurrio un error");
            stateInvoice = true;
            reject(error);
          }
        });
      });
    }
    $("#payment_method").change(function(){
      showFormPayment();
    });
    function showFormPayment(){
      elementsOptions = "";
      $("#payment_form").text("");
      if (parseInt(document.getElementById("payment_method").value) == 2){
        '{% for pf in  payment_form %}'
          '{% if pf.name != "Por definir" %}'
            elementsOptions += '<option value="{{pf.pk}}" {% if pf.pk == invoice.payment_form.payment_form %}selected{% endif %}>{{pf.name}}</option>'
          '{% endif %}'
        '{% endfor %}'
        $("#payment_form").append(elementsOptions);
      }else{
        '{% for pf in  payment_form %}'
          '{% if pf.name == "Por definir" %}'
            elementsOptions += '<option value="{{pf.pk}}" {% if pf.pk == invoice.payment_form.payment_form %}selected{% endif %}>{{pf.name}}</option>'
          '{% endif %}'
        '{% endfor %}'
        $("#payment_form").append(elementsOptions);
      }
    }
    if (Object.keys(invoiceData).length == 0){
      //viewClientSelect(0);
      //viewClientText(clients[0]);
      showFormPayment();
    }else{
      viewClientSelect(invoiceData.customer.identification_number);
      //console.log(invoiceData.details);
      invoiceData.details.map(function (valueProductInInvoice, indexProductInInvoice){
        searchProductWithMap(valueProductInInvoice.pk.toString(), itemId=valueProductInInvoice.pk_item, cant=valueProductInInvoice.quantity, cost=valueProductInInvoice.cost);
      });
      addProductItem();
    }
    function activeAlert(){
      Swal.fire({
        title: 'Enviar email',
        text: "!Quiere enviar esta cotizacion por correo!",
        icon: 'warning',
        showCancelButton: true,
        confirmButtonColor: '#3085d6',
        cancelButtonColor: '#d33',
        confirmButtonText: 'si',
        cancelButtonText: 'Cancelar'
      }).then((result) => {
        if (result.isConfirmed){
          activeAlertEmail();
        }
      })
    }
    '{% if invoice %}'
      '{% if invoice.state_email == "Email no enviado" %}'
        activeAlert();
      '{% endif %}'
    '{% endif %}'

    function sendRemissionWithCotization(){
      if (stateInvoice){
        stateInvoice = false;
        if (productItem.length > 0){
          if (document.getElementById("pk_customer").value != ""){
            openLoader();
            $.ajax({
                url: '/create-remission',
                type: 'POST',
                data:{
                    client: document.getElementById("pk_customer").value,
                    pk: 0,
                    products: JSON.stringify(productItem),
                    totalValue: totalValue,
                    payment_form: document.getElementById("payment_form").value,
                    payment_method: document.getElementById("payment_method").value,
                    notas: document.getElementById("notas").value,
                    invoice: 0
                },
                headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                success: function(json) {
                    invoiceResponse = JSON.parse(json);
                    if (invoiceResponse.code == 200){
                      stateInvoice = true;
                      closeLoader();
                      document.getElementById("remission").value = invoiceResponse.pk_invoice;
                      sendInvoice();
                      // setTimeout(function(){
                      //   window.location.href = "{% url 'remission-view' %}?pk="+invoiceResponse.pk_invoice;
                      // },500);
                    }else{
                      stateInvoice = true;
                      closeLoader();
                    }
                    showToastDanger(
                      "Crear remision",
                      invoiceResponse.message
                    );
                },
                error: function(error) {
                  closeLoader();
                    console.log("Ocurrio un error");
                    stateInvoice = true;
                }
            });
          }else{
            showToastDanger(
              "Crear Remision",
              "Debe seleccionar un cliente"
            );
            stateInvoice = true;
          }
        }else{
            showToastDanger(
                "Crear remision",
                "Debe agregar productos a la remision."
            );
            stateInvoice = true;
        }
      }else{
        showToastDanger(
            "Crear remision",
            "Recuerde dar un solo click al enviar"
        );
      }
    }

    function sendInvoiceWithCotization(_stamp=true){
      if (stateInvoice){
        stateInvoice = false;
        if (productItem.length > 0){
          if (document.getElementById("pk_customer").value != ""){
            openLoader();
            $.ajax({
                url: '/create-invoice',
                type: 'POST',
                data:{
                  client: document.getElementById("pk_customer").value,
                  pk: 0,
                  products: JSON.stringify(productItem),
                  totalValue: totalValue,
                  payment_form: document.getElementById("payment_form").value,
                  payment_method: document.getElementById("payment_method").value,
                  notas: "",
                  serie_folio: -1,
                  uso: 0,
                  created: '{{date}}',
                  expiration: '{{date}}',
                  term_payment: 0,
                  termAndCond: "",
                  pieInvoice: ""
                },
                headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
                success: function(json) {
                  invoiceResponse = JSON.parse(json);
                  console.log(invoiceResponse);
                  if (invoiceResponse.code == 200){
                      closeLoader();
                      stateInvoice = true;
                      document.getElementById("invoice").value = invoiceResponse.pk_invoice;
                      sendInvoice();
                      // setTimeout(function(){
                      //   window.location.href = "{% url 'invoice-view' %}?pk="+invoiceResponse.pk_invoice;
                      // },500);
                  }else{
                    closeLoader();
                    stateInvoice = true;
                  }
                  showToastDanger(
                    "Crear factura",
                    invoiceResponse.message
                  );
                },
                error: function(error) {
                  closeLoader();
                  console.log("Ocurrio un error");
                  stateInvoice = true;
                }
            });
          }else{
            showToastDanger(
              "Crear factura",
              "Debe seleccionar un cliente"
            );
            stateInvoice = true;
          }
        }else{
            showToastDanger(
                "Crear factura",
                "Debe agregar productos a la factura."
            );
            stateInvoice = true;
        }
      }else{
        showToastDanger(
            "Crear factura",
            "Recuerde dar un solo click al enviar"
        );
      }
    }
    function openInvoiceView(url) {
      window.open(
          url, // URL de la página de la factura
          'Cotizacion', // Nombre de la ventana
          'width=800,height=600,scrollbars=yes,resizable=yes' // Características de la ventana
      );
    }
</script>

{% endblock content %}  
<!-- Specific JS goes HERE --> 
{% block javascripts %}
{% endblock javascripts %}