{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

    
    <div class="mt-4 row">
      <div class="col-12">
        <div class="card">
          <!-- Card header -->
          <div class="pb-0 card-header">
            <div class="d-lg-flex">
              <div>
                <h5 class="mb-0">Remision</h5>
                <p class="mb-0 text-sm">
                </p>
              </div>
              <div class="my-auto mt-4 ms-auto mt-lg-0">
                <div class="my-auto ms-auto">
                  <a href="{% url 'remission-view' %}" onclick="openLoader()" class="me-2 mb-0 btn btn-dark" type="button">
                    <i class="fas fa-plus me-1"></i>
                    Nueva remision
                  </a>
                  <input type="hidden" id="pk" value="">
                  <button type="button" class="me-2 mb-0 btn btn-white" data-bs-toggle="modal" data-bs-target="#import">
                    <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 9.79289C6.68342 9.40237 7.31658 9.40237 7.70711 9.79289L9 11.0858V3.5C9 2.94772 9.44771 2.5 10 2.5C10.5523 2.5 11 2.94771 11 3.5V11.0858L12.2929 9.79289C12.6834 9.40237 13.3166 9.40237 13.7071 9.79289C14.0976 10.1834 14.0976 10.8166 13.7071 11.2071L10.7071 14.2071C10.5196 14.3946 10.2652 14.5 10 14.5C9.73478 14.5 9.48043 14.3946 9.29289 14.2071L6.29289 11.2071C5.90237 10.8166 5.90237 10.1834 6.29289 9.79289Z" fill="#111827" />
                    </svg>Import
                  </button>
                  <div class="modal fade" id="client" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog mt-lg-10">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel">Crear cliente</h5>
                          <i class="fas fa-upload ms-3"></i>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>You can browse your computer for a file.</p>
                          <input type="text" placeholder="Browse file..." class="mb-3 form-control">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="importCheck" checked="">
                            <label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-dark btn-sm">Upload</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal fade" id="import" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog mt-lg-10">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel">Import CSV</h5>
                          <i class="fas fa-upload ms-3"></i>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <p>You can browse your computer for a file.</p>
                          <input type="text" placeholder="Browse file..." class="mb-3 form-control">
                          <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="importCheck" checked="">
                            <label class="custom-control-label" for="importCheck">I accept the terms and conditions</label>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-dark btn-sm">Upload</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="mt-1 mb-0 btn btn-white export mt-sm-0" data-type="csv" type="button" name="button">
                    <svg width="14" height="15" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M3 17.5C3 16.9477 3.44772 16.5 4 16.5H16C16.5523 16.5 17 16.9477 17 17.5C17 18.0523 16.5523 18.5 16 18.5H4C3.44772 18.5 3 18.0523 3 17.5ZM6.29289 7.20711C5.90237 6.81658 5.90237 6.18342 6.29289 5.79289L9.29289 2.79289C9.48043 2.60536 9.73478 2.5 10 2.5C10.2652 2.5 10.5196 2.60536 10.7071 2.79289L13.7071 5.79289C14.0976 6.18342 14.0976 6.81658 13.7071 7.20711C13.3166 7.59763 12.6834 7.59763 12.2929 7.20711L11 5.91421V13.5C11 14.0523 10.5523 14.5 10 14.5C9.44771 14.5 9 14.0523 9 13.5V5.91421L7.70711 7.20711C7.31658 7.59763 6.68342 7.59763 6.29289 7.20711Z" fill="#111827" />
                    </svg>Export
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="px-0 pb-0 card-body">
            <div class="table-responsive">
              <table class="table table-flush" id="products-list">
                <thead class="thead-light">
                  <tr>
                    <!-- <th class="text-xs">Serie</th> -->
                    <th class="text-xs">Folio</th>
                    <th class="text-xs">Cliente</th>
                    <th class="text-xs">Total</th>
                    <th class="text-xs">Fecha</th>
                    <th class="text-xs">Estado</th>
                    <th class="text-xs">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for invoice in invoices %}
                  <tr>
                    <!-- <td class="text-sm">{{invoice.prefix}}</td> -->
                    <td class="text-sm">{{invoice.number}}</td>
                    <td class="text-sm">{{invoice.name_client}}</td>
                    <td class="text-sm">{{invoice.total}}</td>
                    <td class="text-sm">
                      {{invoice.date}}
                    </td>
                    <td class="text-sm">
                      {{invoice.state}}
                    </td>
                    <td class="text-sm">
                      <a href="{% url 'remission-view' %}?pk={{invoice.pk_invoice}}&edit=false" data-bs-toggle="tooltip" data-bs-placement="left" title="Ver Factura">
                        <i class="fas fa-eye text-dark"></i>
                      </a>
                      <a href="{% url 'remission-view' %}?pk={{invoice.pk_invoice}}&edit=true" class="mx-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar Factura">
                        <i class="fas fa-user-edit text-dark"></i>
                      </a>
                      <a href="javascript:;" onclick="activeAlert('{{invoice.pk_invoice}}')" data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar Factura">
                        <i class="fas fa-trash text-dark"></i>{% csrf_token %}
                      </a>
                      <a href="javascript:;" onclick="openInvoiceView('{{invoice.pdf}}')" class="ms-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Ver PDF">
                        <i class="fa fa-file-pdf-o text-danger" aria-hidden="true"></i>
                      </a>
                      <a href="javascript:;" onclick="activeAlertEmail('{{invoice.pk_invoice}}')" class="ms-3" data-bs-toggle="tooltip" data-bs-placement="top" title="Enviar email">
                        <i class="fa fa-envelope text-danger" aria-hidden="true"></i>
                      </a>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <!-- <th>Serie</th> -->
                    <th>Folio</th>
                    <th>Cliente</th>
                    <th>Total</th>
                    <th>Fecha</th>
                    <th>Estado</th>
                    <th>Action</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="viewEmail" data-backdrop="static">
      <div class="modal-dialog mt-lg-12">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="ModalLabelEmail">Enviar email</h5>
            <i class="fas fa-upload ms-3"></i>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="form-group col-md-12" id="addEmailSend">
                
              </div>
              <div class="form-group col-md-12">
                <input type="text" class="form-control form-control-sm" placeholder="Agrega un email que no este registrado." id="emailSecondary">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success btn-sm" id="buttonSendEmail">Enviar</button>
        </div>
        </div>
      </div>
    </div>
    {% include 'includes/scripts.html' %}
    <script>
      var invoiceData = textToJson('{{invoices_text}}');
      modalEmailClick = new bootstrap.Modal(document.getElementById('viewEmail'));
      if (document.getElementById('products-list')) {
        const dataTableSearch = new simpleDatatables.DataTable("#products-list", {
          searchable: true,
          fixedHeight: false,
          perPage: 7
        });
  
        document.querySelectorAll(".export").forEach(function(el) {
          el.addEventListener("click", function(e) {
            var type = el.dataset.type;
  
            var data = {
              type: type,
              filename: "soft-ui-" + type,
            };
  
            if (type === "csv") {
              data.columnDelimiter = "|";
            }
  
            dataTableSearch.export(data);
          });
        });
      };
      function activeAlert(pk_invoice){
        showAlert(
          "Eliminar Remision", 
          "!Esta seguro de eliminar esta remision!", 
          "{% url 'delete-remission' %}?pk_invoice="+pk_invoice
        )
      }

      function activeAlertEmail(pk_invoice){
        document.getElementById("pk").value = pk_invoice;
        for (i in invoiceData){
          if (parseInt(invoiceData[i].pk_invoice) == parseInt(pk_invoice)){
            //alert(invoiceData[i].emails);
            $("#addEmailSend").text("");
            invoiceData[i].emails.map(function(value, index){
              $("#addEmailSend").append(
                '<div class="d-flex">'+
                    '<div class="my-auto form-check">'+
                        '<input class="form-check-input" type="checkbox" value="" id="'+(value.split("@")[0])+'">'+
                    '</div>'+
                    '<h6 class="mb-0 text-sm">'+value+'</h6>'+
                '</div>'
              )
            });
            modalEmailClick.show();
            break;
          }
        }
      }
      $("#buttonSendEmail").click(function(){
        modalEmailClick.hide();
        for (i in invoiceData){
          if (parseInt(invoiceData[i].pk_invoice) == parseInt(document.getElementById("pk").value)){
            console.log(invoiceData[i]);
            runAjaxCallsEmail(invoiceData[i]);
            break;
          }
        }
      });
      function isEmailCorrect(_email) {
        const regex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        return regex.test(_email);
      }
      async function runAjaxCallsEmail(_invoiceData){
        sendEmailActive = false;
        for (i=0; i<_invoiceData.emails.length; i++){
          if ($("#"+(_invoiceData.emails[i].split("@")[0])).prop("checked")){
            await sendEmail(_invoiceData.emails[i]);
            sendEmailActive = true;
          }
        }
        var emailSecondary = document.getElementById("emailSecondary").value;
        if(isEmailCorrect(emailSecondary)){
          console.log(emailSecondary);
          await sendEmail(emailSecondary);
          sendEmailActive = true;
        }else{
          if (emailSecondary != ""){
            showToastDanger(
              "Enviar Email",
              emailSecondary+" - No es un email correcto."
            );
          }
        }
        if (sendEmailActive){
          setTimeout(function(){
            closeLoader();
            window.location.href = "{{request.path}}";
          },500);
        }else{
          showToastDanger(
            "Enviar Email",
            "No ha seleccionado emails."
          );
        }
      }
      function sendEmail(emailUser){
        openLoader();
        return new Promise((resolve, reject) => {
          $.ajax({
            url: '/invoice-send-email',
            type: 'POST',
            data:{
              pk_invoice: document.getElementById("pk").value,
              email_user: emailUser,
              option: "remission"
            },
            headers: {"X-CSRFToken": $('[name=csrfmiddlewaretoken]').val()},
            success: function(json) {
              invoiceResponse = JSON.parse(json);
              stateInvoice = true;
              showToastDanger(
                "Enviar Email",
                invoiceResponse.message+" a: "+emailUser
              );
              closeLoader();
              resolve(invoiceResponse);
            },
            error: function(error) {
              closeLoader();
              console.log("Ocurrio un error");
              stateInvoice = true;
              reject(error);
            }
          });
        })
      }
      function openInvoiceView(url) {
        window.open(
            url, // URL de la página de la factura
            'Remision', // Nombre de la ventana
            'width=800,height=600,scrollbars=yes,resizable=yes' // Características de la ventana
        );
      }
      </script>

{% endblock content %}
  
<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}