<div class="container top-0 position-sticky z-index-sticky">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-slate-900 rounded-2 top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
          <!--<div class="container-fluid">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="../../pages/dashboards/default.html">
              Gestiona-Facil
            </a>
            <button class="shadow-none navbar-toggler ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mt-2 navbar-toggler-icon">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="pt-3 pb-2 collapse navbar-collapse w-100 py-lg-0" id="navigation">
              
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                  <a href="javascript:;" class="btn btn-sm  btn-dark  mb-0 me-1" onclick="smoothToPricing('pricing-soft-ui')">Buy Now</a>
                </li>
              </ul>
            </div>
          </div>-->
          <div class="container py-2">
            <nav aria-label="breadcrumb">
              <div class="d-flex align-items-center">
                <a href="{% url 'index' %}" class="px-3 text-lg text-white font-weight-bold me-4">Gestiona-Facil</a>
              </div>
            </nav>
            <ul class="navbar-nav d-none d-lg-flex">
              <li class="nav-item px-3 py-3 border-radius-sm  d-flex align-items-center">
                <a href="{% url 'invoice' %}" class="p-0 text-white nav-link">
                  Dashboards
                </a>
              </li>
              <li class="nav-item px-3 py-3 border-radius-sm {% if 'pricing' in segment %}bg-slate-800{% endif %} d-flex align-items-center">
                <a href="{% url 'pricing' %}" class="p-0 text-white nav-link">
                  Precios
                </a>
              </li>
              <li class="nav-item px-3 py-3 border-radius-sm  d-flex align-items-center">
                <a href="" class="p-0 text-white nav-link">
                  Nosotros
                </a>
              </li>
              <li class="nav-item px-3 py-3 border-radius-sm  d-flex align-items-center">
                <a href="{% url 'sign-in' %}" class="p-0 text-white nav-link">
                  Iniciar sesion
                </a>
              </li>
              <li class="nav-item px-3 py-3 border-radius-sm  d-flex align-items-center">
                <a href="{% url 'sign-up' %}" class="p-0 text-white nav-link">
                  Registrar
                </a>
              </li>
            </ul>
            <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
              <ul class="navbar-nav ms-md-auto  justify-content-end">
                <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
                  <a href="javascript:;" class="p-0 text-white nav-link" id="">
                    <div class="sidenav-toggler-inner">
                      <i class="bg-white sidenav-toggler-line"></i>
                      <i class="bg-white sidenav-toggler-line"></i>
                      <i class="bg-white sidenav-toggler-line"></i>
                    </div>
                  </a>
                </li>
                
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                  <a href="javascript:;" class="p-0 text-white nav-link" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                    <svg height="16" width="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="cursor-pointers">
                      <path fill-rule="evenodd" d="M5.25 9a6.75 6.75 0 0113.5 0v.75c0 2.123.8 4.057 2.118 5.52a.75.75 0 01-.297 1.206c-1.544.57-3.16.99-4.831 1.243a3.75 3.75 0 11-7.48 0 24.585 24.585 0 01-4.831-1.244.75.75 0 01-.298-1.205A8.217 8.217 0 005.25 9.75V9zm4.502 8.9a2.25 2.25 0 104.496 0 25.057 25.057 0 01-4.496 0z" clip-rule="evenodd" />
                    </svg>
                  </a>
                  <ul class="px-2 py-3 dropdown-menu dropdown-menu-end me-sm-n4" aria-labelledby="dropdownMenuButton">
                    <li class="mb-2">
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="py-1 d-flex">
                          <div class="my-auto">
                            <img src="../../../static/assets/img/team-2.jpg" class="avatar avatar-sm  me-3 " alt="user image">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-1 text-sm font-weight-normal">
                              <span class="font-weight-bold">New message</span> from Laur
                            </h6>
                            <p class="mb-0 text-xs text-secondary">
                              <i class="fa fa-clock me-1"></i>
                              13 minutes ago
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li class="mb-2">
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="py-1 d-flex">
                          <div class="my-auto">
                            <img src="../../../static/assets/img/small-logos/logo-spotify.svg" class="avatar avatar-sm bg-gradient-dark  me-3 " alt="logo spotify">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-1 text-sm font-weight-normal">
                              <span class="font-weight-bold">New album</span> by Travis Scott
                            </h6>
                            <p class="mb-0 text-xs text-secondary">
                              <i class="fa fa-clock me-1"></i>
                              1 day
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item border-radius-md" href="javascript:;">
                        <div class="py-1 d-flex">
                          <div class="avatar avatar-sm bg-gradient-secondary  me-3  my-auto">
                            <svg width="12px" height="12px" viewBox="0 0 43 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                              <title>credit-card</title>
                              <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(-2169.000000, -745.000000)" fill="#FFFFFF" fill-rule="nonzero">
                                  <g transform="translate(1716.000000, 291.000000)">
                                    <g transform="translate(453.000000, 454.000000)">
                                      <path class="color-background" d="M43,10.7482083 L43,3.58333333 C43,1.60354167 41.3964583,0 39.4166667,0 L3.58333333,0 C1.60354167,0 0,1.60354167 0,3.58333333 L0,10.7482083 L43,10.7482083 Z" opacity="0.593633743"></path>
                                      <path class="color-background" d="M0,16.125 L0,32.25 C0,34.2297917 1.60354167,35.8333333 3.58333333,35.8333333 L39.4166667,35.8333333 C41.3964583,35.8333333 43,34.2297917 43,32.25 L43,16.125 L0,16.125 Z M19.7083333,26.875 L7.16666667,26.875 L7.16666667,23.2916667 L19.7083333,23.2916667 L19.7083333,26.875 Z M35.8333333,26.875 L28.6666667,26.875 L28.6666667,23.2916667 L35.8333333,23.2916667 L35.8333333,26.875 Z"></path>
                                    </g>
                                  </g>
                                </g>
                              </g>
                            </svg>
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-1 text-sm font-weight-normal">
                              Payment successfully completed
                            </h6>
                            <p class="mb-0 text-xs text-secondary">
                              <i class="fa fa-clock me-1"></i>
                              2 days
                            </p>
                          </div>
                        </div>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item d-flex align-items-center ps-2">
                  <a href="javascript:;" class="px-0 text-white nav-link font-weight-bold">
                <li class="nav-item dropdown pe-2 d-flex align-items-center">
                  <div class="avatar avatar-sm position-relative">
                    <img src="../../../static/assets/img/team-1.jpg" alt="profile_image" class="w-100 border-radius-md">
                  </div>
                </li>
                </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>