<div class="container">
    <div class="row">
        <div class="col-6 col-sm-10">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h5 class="card-title"><i class="fas fa-user ms-3"></i> Usuarios</h5>
                        </div>
                        <div class="col-12, col-sm-6 text-end">
                            <button class="btn btn-sm btn-success">Crear usuario</button>
                        </div>
                    </div>
                    <div>
                        <div class="p-3 card-header">
                            <div class="row">
                            <div class="col-md-6">
                                <h5 class="mb-0 text-lg font-weight-semibold">Lista de usuarios</h5>
                                <p class="text-sm font-weight-normal"></p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <div class="ms-2 dropdown">
                                <button class="mb-0 btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Activos</button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownChart" style="">
                                    <li><a class="dropdown-item" href="javascript:;">Activos</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">Desactivados</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">Todos</a></li>
                                </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="p-0 card-body">
                            <div class="card px-1 py-1 max-height-vh-50">
                                <div class="card-body overflow-auto overflow-x-hidden">
                                    <div class="table">
                                        <table class="table table-responsive table-flush">
                                            <thead>
                                                <tr>
                                                    <th class="text-xs border-top-0 font-weight-semibold">ID</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Usuario</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Nombre</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Almacen</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Estado</th>
                                                    
                                                    <th class="text-xs border-top-0 font-weight-semibold">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for user in users %}
                                                <tr>
                                                    <td>
                                                        <div class="my-auto form-check">
                                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                            <span class="text-sm font-weight-semibold text-dark">{{user.pk}}</span>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        {{user.fields.username}}
                                                    </td>
                                                    <td class="text-sm">
                                                        {{user.fields.first_name}}
                                                    </td>
                                                    <td class="text-sm">
                                                        {{user.fields.branch_name}}
                                                    </td>
                                                    <td>
                                                        <span class="badge badge-success">
                                                            <i class="me-1 fas fa-check" aria-hidden="true"></i>
                                                            {{user.fields.active}}
                                                        </span>
                                                    </td>
                                                    <td class="text-sm">
                                                        <a href=""  data-bs-toggle="tooltip" data-bs-placement="left" title="Ver Usuario">
                                                          <i class="fas fa-eye text-dark"></i>
                                                        </a>
                                                        <a href="" class="mx-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar Usuario">
                                                          <i class="fas fa-user-edit text-dark"></i>
                                                        </a>
                                                        <a href="javascript:;"  data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar Usuario">
                                                          <i class="fas fa-trash text-dark"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>