{% extends 'layouts/base.html' %}
{% block title %} Dashboard {% endblock title %}
{% load static %}
<!-- Specific CSS goes HERE -->
{% block stylesheets %}
{% endblock stylesheets %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            <h5 class="card-title"><i class="fas fa-user ms-3"></i> Impuestos</h5>
                        </div>
                        <div class="col-12, col-sm-6 text-end">
                            <button class="btn btn-sm btn-success" onclick="clearModalUser()" data-bs-toggle="modal" data-bs-target="#taxAdd">Crear impuesto</button>
                        </div>
                    </div>
                    <div>
                        <div class="p-3 card-header">
                            <div class="row">
                            <div class="col-md-6">
                                <h5 class="mb-0 text-lg font-weight-semibold">Lista de impuestos</h5>
                                <p class="text-sm font-weight-normal"></p>
                            </div>
                            <div class="col-md-6 d-flex justify-content-end align-items-center">
                                <div class="ms-2 dropdown">
                                <button class="mb-0 btn btn-white dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">Activos</button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownChart" style="">
                                    <li><a class="dropdown-item" href="javascript:;">Activos</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">Desactivados</a></li>
                                    <li><a class="dropdown-item" href="javascript:;">Todos</a></li>
                                </ul>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="p-0 card-body">
                            <div class="card px-1 py-1 max-height-vh-50">
                                <div class="card-body overflow-auto overflow-x-hidden">
                                    <div class="table">
                                        <table class="table table-responsive table-flush table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Nombre</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Porcentaje (%)</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Tipo</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Impuesto acreditable</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Descripcion</th>
                                                    <th class="text-xs border-top-0 font-weight-semibold">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for t in taxs %}
                                                <tr>
                                                    <td>
                                                        <span class="text-sm font-weight-semibold text-dark">{{t.name}}</span>
                                                    </td>
                                                    <td class="text-sm">
                                                        {{t.tax}}
                                                    </td>
                                                    <td class="text-sm">
                                                        {{t.type}}
                                                    </td>
                                                    <td class="text-sm">
                                                        {% if t.acreditable %}
                                                            <span class="badge badge-success">
                                                                <i class="me-1 fas fa-check" aria-hidden="true"></i>
                                                                SI
                                                            </span>
                                                        {% else %}
                                                            <span class="badge badge-danger">
                                                                <i class="me-1 fas fa-check" aria-hidden="true"></i>
                                                                NO
                                                            </span>
                                                        {% endif %}
                                                    </td>
                                                    <td class="text-xs">
                                                        {{t.description}}
                                                    </td>
                                                    <td class="text-sm">
                                                        <a href="javascript:;" onclick="viewModalUser(
                                                            '{{t.pk}}',
                                                            '{{t.name}}',
                                                            '{{t.tax}}',
                                                            '{{t.acreditable}}',
                                                            '{{t.description}}',
                                                            '{{t.type}}',
                                                            false
                                                            )" data-bs-toggle="tooltip" data-bs-placement="left" title="Ver Impuesto">
                                                          <i class="fas fa-eye text-dark"></i>
                                                        </a>
                                                        <a href="javascript:;" 
                                                        onclick="viewModalUser(
                                                            '{{t.pk}}',
                                                            '{{t.name}}',
                                                            '{{t.tax}}',
                                                            '{{t.acreditable}}',
                                                            '{{t.description}}',
                                                            '{{t.type}}',
                                                        )"
                                                        class="mx-3" data-bs-toggle="tooltip" data-bs-placement="left" title="Editar Impuesto">
                                                          <i class="fas fa-user-edit text-dark"></i>
                                                        </a>
                                                        <a onclick="activeAlert('{{t.pk}}')" href="javascript:;"  data-bs-toggle="tooltip" data-bs-placement="left" title="Eliminar Impuesto">
                                                          <i class="fas fa-trash text-dark"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="taxAdd" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog mt-lg-10">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Agregar Impuesto</h5>
          <i class="fas fa-upload ms-3"></i>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="/create-tax" method="post" id="frm">{% csrf_token %}
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12 col-sm-12">
                        <label for="taxType">Tipo</label>
                        <select class="form-control" name="taxType" id="taxType">
                            <option value="IVA">IVA</option>
                            <option value="Otro">Otro</option>
                            <option value="Local">Local</option>
                            <option value="IEPS">IEPS</option>
                            <option value="IVA Exento">IVA Exento</option>
                            <option value="IEPS Exento">IEPS Exento</option>
                        </select>
                    </div>
                    <div class="form-group col-12 col-sm-12">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control form-control-sm" name="name" id="name">
                    </div>
                    <div class="form-group col-12 col-sm-12">
                        <label for="tax">Porcentaje (%)</label>
                        <input type="text" class="form-control form-control-sm" name="tax" id="tax">
                    </div>
                    <div class="form-group col-12 col-sm-12">
                        <div class="my-auto form-check">
                            <input class="form-check-input" type="checkbox" value="" id="acreditable" name="acreditable" checked>
                            <span class="text-sm font-weight-semibold text-dark">Impuesto acreditable</span>
                        </div>
                    </div>
                    <div class="form-group col-12 col-sm-12">
                        <label for="observation">Observacion</label>
                        <textarea class="form-control" name="observation" id="observation" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
              <input type="hidden" id="pk_tax" name="pk_tax" value="0">
              <button type="button" class="btn btn-white btn-sm" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-dark btn-sm" id="buttonSave">Guardar</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{% include 'includes/scripts.html' %}

<script>
    modalTermClick = new bootstrap.Modal(document.getElementById('taxAdd'));
    function viewModalUser(pk_tax, name, tax, acreditable, observation, _type, edit=true){
        document.getElementById("pk_tax").value = pk_tax;
        document.getElementById("name").value = name;
        document.getElementById("tax").value = tax;
        document.getElementById("observation").value = observation;
        document.getElementById("taxType").value = _type;
        if (acreditable == "True"){
            $("#acreditable").prop("checked", true);
        }else{
            $("#acreditable").prop("checked", false);
        }
    
        if (edit){
            document.getElementById("buttonSave").classList.remove('d-none');
            document.getElementById("buttonSave").textContent = "Modificar";
        }else{
            document.getElementById("buttonSave").classList.add('d-none');
        }
        modalTermClick.show();
    }
    function clearModalUser(){
        document.getElementById("frm").reset();
        document.getElementById("pk_tax").value = "0";
        document.getElementById("buttonSave").classList.remove('d-none');
        document.getElementById("buttonSave").textContent = "Guardar";
    }
    function activeAlert(pk_tax){
        showAlert(
            "Eliminar Impuesto", 
            "!Esta seguro de eliminar este impuesto!", 
            "{% url 'delete-tax' %}?pk_tax="+pk_tax
        )
    }
</script>

{% endblock content %}
  
<!-- Specific JS goes HERE --> 
{% block javascripts %}

{% endblock javascripts %}